*.png
*.pyc
*.v
*.aig
!src/sprouthdl/arithmetic/int_multipliers/data/optimized/*/*.aig
!src/sprouthdl/arithmetic/int_multipliers/data/optimized/*/*.map
*.aag
*.map
*.dot
*.vscode
*/__pycache__/*
*.csv
output/*
*.history
*.parquet
*.pdf
playground_nogit
data/*
*.vcd